{% extends "template.html" %}
{% block style %}
    .separator-row td {
        border-bottom: 2px solid #ff0000; /* Cambia #ff0000 por el color que prefieras */
        padding: 0;
        height: 2px; /* Ajusta el grosor de la línea */
    }
    .separator-col {
        border-right: 2px solid #ff0000; /* Cambia #ff0000 por el color que prefieras */
        padding: 0;
        width: 2px; /* Ajusta el grosor de la línea */
    }
    
{% endblock %}
{% block text_img %}Parques{% endblock %}
{% block content %}
<section class="custom-video booking-form text-center">
    <div class="text-center mb-4 pb-lg-2">
        <em class="text-black">Universidad Nacional de Loja</em>

        <h2 class="text-bg-black">Lista de Parques</h2>
        <a href="parque/formulario" class="btn custom-btn custom-border-btn btn-info">Formulario</a>
        <a href="parque/grafo_parque" class="btn custom-btn custom-border-btn btn-success">Parque Grafo</a>
        <a href="parque/grafo_ver_admin" class="btn custom-btn custom-border-btn  btn-warning">Matriz de Adyacencia</a>
    </div>
    <!--<div id="map"></div>-->
    <div class="booking-form-body table-responsive-lg">
        <table class="table  table-bordered text-black" id="tabla">
            <thead>
                <tr>
                    <th>N-</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Horario</th>
                    <th>Longitud</th>
                    <th>Latitud</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% set counter = 1 %}
                {% for item in lista %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.direccion }}</td>
                    <td>{{ item.horario }}</td>
                    <td>{{ item.longitud }}</td>
                    <td>{{ item.latitud }}</td>
                    <td>
                        <a href="parque/editar/{{ item.id }}" class="btn custom-btn custom-border-btn ">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
