{% extends "templateL.html" %}

{% block content %}


            <div class="col-lg-10 col-12 mx-auto">
                <div class="booking-form-wrap">
                    <div class="row">
                        <div class="col-lg-7 col-12 p-0">
                            <form class="custom-form booking-form" method="post" action="/negocio/guardar" role="form">
                                <div class="text-center mb-4 pb-lg-2">
                                    <em class="text-white">Universidad Nacional de Loja</em>

                                    <h2 class="text-white">Formulario Guardar Personas</h2>
                                    
                                    <a href="/negocio" class="btn custom-btn custom-border-btn">Regresar</a>
                                </div>

                                <div class="booking-form-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
                                        </div>
                                        

                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="horario" class="form-control" placeholder="Horario" required maxlength="10">
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Direccion" required readonly>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="longitud" id="longitud" class="form-control" placeholder="Longitud" required readonly>
                                        </div>

                                        <div class="col-lg-6 col-12">
                                            <input type="text" name="latitud" id="latitud" class="form-control" placeholder="Latitud" required readonly>
                                        </div>
                                        <div id="map"></div>
                                        
                                        <button type="submit" id="guardar" class="btn custom-btn custom-border-btn">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-5 col-12 p-0">
                            <div class="booking-form-image-wrap">
                                
                                <img src="{{ url_for('static', filename='images/barman-with-fruits.jpg')}}" class="booking-form-image img-fluid" alt="">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

{% endblock %}

{% block scripts %}
<script>
    //hacer un marker dinamico que el usuario pueda poner un pontero, mostrar la latitud y longitud en el Formulario
    var marker = L.marker([-3.995, -79.204],{
        draggable: true
    }).addTo(map);

    function updateLatLng(lat, lng) {
        document.getElementById('latitud').value = lat;
        document.getElementById('longitud').value = lng;
    }
    
    function updateDireccion(lat, lng) {
        fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lng}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('direccion').value = data.display_name;
            })
            .catch(error => {
                console.error('Error fetching address:', error);
                document.getElementById('direccion').value = 'Dirección no disponible';
            });
    }

    updateLatLng(-3.995, -79.204);
     // Escuchar el evento 'dragend' para actualizar la latitud y longitud en el formulario
     marker.on('dragend', function (e) {
        var position = marker.getLatLng();
        updateLatLng(position.lat, position.lng);
        updateDireccion(position.lat, position.lng);
    });


    // Actualizar los campos del formulario con la posición inicial
    updateLatLng(-3.995, -79.204);
    
    
</script
{% endblock %}


