{% extends "template.html" %}

{% block content %}


<section class="custom-video booking-form text-center" >
    <div class="text-center mb-4 pb-lg-2">
        <em class="text-white">Universidad Nacional de Loja</em>

        <h2 class="text-white">Historial de Retenciones</h2>

    
        <em  class="text-white">Usuario: {{ persona.nombre }}</em></br>
        <em  class="text-white" >{{ persona.tipoIdentificacion }}: {{ persona.dni }}</em><br>


        <div class="custom-border">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="atributo" class="text-white"><strong>Ordenar Por:</strong></label>
                        <select name="atributo" id="atributo" class="form-control custom-border-select">
                            <option value="----">-----</option>
                            <option value="_fechaEmicion">Fecha</option>
                            <option value="_facturaId">N* Comprobante</option>
                            <option value="_porcentajeRetencion">% de Retencion</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="metodoOrdenacion" class="text-white"><strong>Metodo de Ordenacion:</strong></label>
                        <select name="metodoOrdenacion" id="metodoOrdenacion" class="form-control custom-border-select">
                            <option value="1">QuickSort</option>
                            <option value="2">MergeSort</option>
                            <option value="3">ShellSort</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="orden" class="text-white"><strong>Orden:</strong></label>
                        <select name="orden" id="orden" class="form-control custom-border-select">
                            <option value="1">Ascendente</option>
                            <option value="2">Descendente</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="criterioBusqueda" class="text-white"><strong>Buscar por:</strong></label>
                        <select name="criterioBusqueda" id="criterioBusqueda" class="form-control custom-border-select">
                            <option value="_fechaEmicion">Fecha</option>
                            <option value="_facturaId">N* Comprobante</option>
                            <option value="_porcentajeRetencion">% de Retencion</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="metodoBusqueda" class="text-white"><strong>Metodo de Busqueda:</strong></label>
                        <select name="metodoBusqueda" id="metodoBusqueda" class="form-control custom-border-select">
                            <option value="0">Binario</option>
                            <option value="1">Lineal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="search" class="text-white"><strong>Buscar:</strong></label>
                        <input type="text" class="form-control text-center form-bi-search-heart" id="search" name="search" placeholder="--------">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="booking-form-body table-responsive">
        <table class="table  table-bordered text-white display"  id="tabla">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>N* Comprobante</th>
                    <th>Base Imponible</th>
                    <th>% Retencion</th>
                    <th>Total Retenido</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                <tr>
                    <td>{{ item.fechaEmicion }}</td>
                    <td>{{ item.facturaId }}</td>
                    <td>$ {{ item.baseImponible }}</td>
                    <td>{{ item.porcentajeRetencion }}%</td>
                    <td>$ {{ item.totalRetenido }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<a href="/cliente/detalle/{{ persona.id }}" class="btn btn-primary" >Volver</a>



<script>
    

    if (atributo && metodoOrdenacion && orden){
        [atributo, metodoOrdenacion, orden].forEach(element => {
            element.addEventListener('change', () => {
                const atributo = document.getElementById('atributo');
                const metodoOrdenacion = document.getElementById('metodoOrdenacion');
                const orden = document.getElementById('orden');
                
                ordenate(atributo.value, metodoOrdenacion.value, orden.value);
            });
        });
    }

    if (metodoBusqueda && criterioBusqueda){
        [metodoBusqueda, criterioBusqueda].forEach(element => {
            element.addEventListener('change', () => {
                search();
            });
        });
    }

    $('#search').keyup(function() {
        search();
    }); 

    function search() {
        const metodo = document.getElementById('metodoBusqueda').value;
        const atrib = document.getElementById('criterioBusqueda').value;
        const search = $('#search').val();
        console.log(search, atrib, metodo);
        tabla("http://127.0.0.1:5000//cliente/detalle/historial_retencion/search/{{ persona.id }}/"+search+"/"+atrib+"/"+metodo+"");
    }

    function ordenate(atributo,metodoOrdenacion,orden){
        tabla('http://127.0.0.1:5000//cliente/detalle/historial_retencion/{{ persona.id }}/'+atributo+'/'+metodoOrdenacion+'/'+orden+'');
    }
    function tabla(url){
        $.ajax({
            method: "GET",
            url: url,
            contentType: 'json',
            success: function(data){
                console.log(data);
                if (data.code == 200){
                    var html = '';
                    $.each(data.data, function(i, item){
                        html += '<tr>';
                        html += '<td>'+item.fechaEmicion+'</td>';
                        html += '<td>'+item.facturaId+'</td>';
                        html += '<td>$ '+item.baseImponible+'</td>';
                        html += '<td>'+item.porcentajeRetencion+' %</td>';
                        html += '<td>$ '+item.totalRetenido+'</td>';
                        html += '</tr>';
                    });
                    $('#tabla tbody').html(html);
                }
            }
        });
    }
    

    
</script>

{% endblock %}